<div class="container mt-5">
    <h2>Country Stats</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Country Code</th>
          <th scope="col">Year</th>
          <th scope="col">Population</th>
          <th scope="col">GDP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of stats">
          <td>{{ stat[0] }}</td>
          <td>{{ stat[1] }}</td>
          <td>{{ stat[2] }}</td>
          <td>{{ stat[3] }}</td>
          <td>{{ stat[4] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  