<div class="container mt-5">
    <h2>Country List</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Area</th>
          <th scope="col">Country Code</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries" (click)="onCountryClick(country.countryId)">
          <td>{{ country.name }}</td>
          <td>{{ country.area }}</td>
          <td>{{ country.countryCode2 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  